version: '3'

services:
  dst-server:
    image: jamesits/dst-server:nightly
    container_name: dst-server
    restart: unless-stopped
    network_mode: host
    
    environment:
      - DST_SERVER_ARCH=amd64
      - DST_CLUSTER_TOKEN=${CLUSTER_TOKEN}
    
    volumes:
      - dst_data:/data
    
    stop_grace_period: 5m

volumes:
  dst_data: