version: '3'

services:
  dst-server:
    image: webhippie/dst:latest
    container_name: dst-server
    restart: unless-stopped
    network_mode: host
    
    environment:
      - DST_CLUSTER_TOKEN=${DST_CLUSTER_TOKEN}
      - DST_NETWORK_CLUSTER_NAME=${DST_NETWORK_CLUSTER_NAME}
      - DST_NETWORK_CLUSTER_DESCRIPTION=${DST_NETWORK_CLUSTER_DESCRIPTION}
      - DST_GAMEPLAY_MAX_PLAYERS=${DST_GAMEPLAY_MAX_PLAYERS}
      - DST_GAMEPLAY_GAME_MODE=${DST_GAMEPLAY_GAME_MODE}
      - DST_NETWORK_TICK_RATE=${DST_NETWORK_TICK_RATE}
      - DST_NETWORK_CLUSTER_PASSWORD=${DST_NETWORK_CLUSTER_PASSWORD}
      - DST_MISC_CONSOLE_ENABLED=${DST_MISC_CONSOLE_ENABLED}
    
    volumes:
      - dst_data:/var/lib/game
    
    stop_grace_period: 5m

volumes:
  dst_data: